## Movies_Recomender_System

In [9]:
import pandas as pd

In [18]:
movies = pd.read_csv("/Users/svatipriya/Downloads/top10K-TMDB-movies.csv")

In [19]:
movies.head().shape

(5, 9)

In [20]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.3+ KB

In [21]:
movies.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In [22]:
movies.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [23]:
movies = movies[['id', 'title', 'overview', 'genre']]

In [17]:
movies

,Unnamed: 0,adult,backdrop_path,genres,id,imdb_id,original_language,overview,popularity,poster_path,release_date,runtime,tagline,title,vote_average,vote_count,actors,director,keywords
0,0,False,/jXJxMcVoEuXzym3vFnjqDW4ifo6.jpg,"['Action', 'Adventure', 'Fantasy']",572802,tt9663764,en,"Black Manta, still driven by the need to aveng...",5841.384,/7lTnXOy0iNtBAdRP3TZvaKJ77F6.jpg,2023-12-20,124,The tide is turning.,Aquaman and the Lost Kingdom,7.013,1156,"['Jason Momoa', 'Patrick Wilson', 'Yahya Abdul...",['James Wan'],"['superhero', 'secret society', 'half-brother'..."
1,1,False,/yOm993lsJyPmBodlYjgpPwBjXP9.jpg,"['Comedy', 'Family', 'Fantasy']",787699,tt6166392,en,Willy Wonka – chock-full of ideas and determin...,2333.391,/qhb1qOilapbapxWQn9jtRCMwXJF.jpg,2023-12-06,117,Every good thing in this world started with a ...,Wonka,7.200,1660,"['Timothée Chalamet', 'Calah Lane', 'Keegan-Mi...",['Paul King'],"['chocolate', 'musical', 'prequel', 'duringcre..."
2,2,False,/ehumsuIBbgAe1hg343oszCLrAfI.jpg,"['Animation', 'Family', 'Fantasy', 'Adventure']",1022796,tt11304740,en,"Asha, a sharp-witted idealist, makes a wish so...",1662.711,/AcoVfiv1rrWOmAdpnAMnM56ki19.jpg,2023-11-13,95,Be careful what you wish for.,Wish,6.638,538,"['Ariana DeBose', 'Chris Pine', 'Alan Tudyk', ...",['Chris Buck'],"['friendship', 'musical', 'computer animation'..."
3,3,False,/meyhnvssZOPPjud4F1CjOb4snET.jpg,"['Animation', 'Adventure', 'Comedy', 'Family',...",940551,tt6495056,en,After a migrating duck family alights on their...,1486.310,/ldfCF9RhR40mppkzmftxapaHeTo.jpg,2023-12-06,83,Odd ducks welcome.,Migration,7.830,390,"['Kumail Nanjiani', 'Elizabeth Banks', 'Caspar...",['Benjamin Renner'],"['duck', 'migration', 'flight', 'anthropomorph..."
4,4,False,/tLxjbT5ROZRwYcpNT3nfQbqkApk.jpg,"['Science Fiction', 'Adventure', 'Action']",609681,tt10676048,en,"Carol Danvers, aka Captain Marvel, has reclaim...",1397.918,/9GBhzXMFjgcZ3FdR9w3bUMMTps5.jpg,2023-11-08,105,Higher. Further. Faster. Together.,The Marvels,6.415,1328,"['Brie Larson', 'Teyonah Parris', 'Iman Vellan...",['Nia DaCosta'],"['hero', 'superhero', 'space travel', 'based o..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,False,/xSN7sVwIC6ExQZVMIUMjm4Tl2TN.jpg,"['Drama', 'War']",10178,tt0046816,en,When a US Naval captain shows signs of mental ...,12.677,/vuO4Z3wOWVlhq35MS9asZeT9rVp.jpg,1954-06-24,124,As big as the ocean!,The Caine Mutiny,7.145,306,"['Humphrey Bogart', 'Robert Francis', 'Van Joh...",['Edward Dmytryk'],"['mutiny', 'post-traumatic stress disorder (pt..."
9996,9996,False,/x4sqnmV2nAKIG6cmt9WAF9xRA2M.jpg,"['Comedy', 'Drama', 'Romance']",236,tt0110598,en,A young social outcast in Australia steals mon...,12.677,/zJyTr8Fo412a2OIfJGXTRAm4IwX.jpg,1994-09-29,106,Success is the best revenge.,Muriel's Wedding,6.868,413,"['Toni Collette', 'Bill Hunter', 'Rachel Griff...",['P.J. Hogan'],"['daughter', 'individual', 'friendship', 'drea..."
9997,9997,False,/gjysasbU9gKgbu7yW7Z1aonoiTg.jpg,"['Horror', 'Thriller']",517116,tt6535880,en,"On Halloween, a group of friends encounter an ...",12.676,/haQSrjFlq30I60UVN1VsB6uRwKM.jpg,2019-09-13,92,Some Monsters Are Real.,Haunt,6.697,1086,"['Katie Stevens', 'Will Brittain', 'Lauryn McC...",['Scott Beck'],"['mask', 'halloween', 'haunted house', 'illino..."
9998,9998,False,/j3qoYRsQueTCvFhOVakVNhqmxRW.jpg,"['Drama', 'Music']",239566,tt2473602,en,A chronicle of James Brown's rise from extreme...,12.676,/dVbGeU5agxFGcJnL5hk4uO8W7i2.jpg,2014-08-01,139,The Funk Don't Quit,Get on Up,6.763,489,"['Chadwick Boseman', 'Nelsan Ellis', 'Dan Aykr...",['Tate Taylor'],"['vietnam war', '1970s', 'biography', 'south c..."
9999,9999,False,/jRwqNjLsOiCzDJ4lT4dpFZemNx7.jpg,['Drama'],826796,tt13649036,en,Sarah seems to have found her calling working ...,12.674,/33Z4AmHQYUpMWiM0T1jYq3xPdKI.jpg,2021-09-16,98,No one's coming.,Help,7.133,98,"['Jodie Comer', 'Stephen Graham', 'Ian Hart', ...",['Marc Munden'],"['liverpool, england', 'care home', 'covid-19']"

In [25]:
movies['tags'] = movies['overview']+movies['genre']

In [27]:
movies

,id,title,overview,genre,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime",Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime","Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War",The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime",In the continuing saga of the Corleone crime f...
...,...,...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo...","Action,Adventure,Fantasy","The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...,"Action,TV Movie,Science Fiction,Comedy,Adventure",The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ...","Action,Science Fiction,War","During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...,"Adventure,Fantasy,Action,Drama",A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...,"Thriller,Action,Crime",Seeking justice for his partner’s murder by an...

In [28]:
new_data = movies.drop(columns= ['overview', 'genre'])

In [29]:
new_data

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...

In [30]:
from sklearn.feature_extraction.text import CountVectorizer

In [31]:
cv =  CountVectorizer(max_features= 10000, stop_words= 'english')

In [32]:
cv

CountVectorizer(max_features=10000, stop_words='english')

In [33]:
vector = cv.fit_transform(new_data['tags'].values.astype('U')).toarray()

In [34]:
vector.shape

(10000, 10000)

In [35]:
from sklearn.metrics.pairwise import cosine_similarity

In [37]:
similarity= cosine_similarity(vector)

In [38]:
similarity

array([[1.        , 0.05634362, 0.12888482, ..., 0.07559289, 0.11065667,
        0.06388766],
       [0.05634362, 1.        , 0.07624929, ..., 0.        , 0.03636965,
        0.        ],
       [0.12888482, 0.07624929, 1.        , ..., 0.02273314, 0.06655583,
        0.08645856],
       ...,
       [0.07559289, 0.        , 0.02273314, ..., 1.        , 0.03253   ,
        0.02817181],
       [0.11065667, 0.03636965, 0.06655583, ..., 0.03253   , 1.        ,
        0.0412393 ],
       [0.06388766, 0.        , 0.08645856, ..., 0.02817181, 0.0412393 ,
        1.        ]])

In [39]:
new_data[new_data['title'] =="The Godfather"].index[0]

2

In [40]:
distance = sorted(list(enumerate(similarity[2])), reverse = True, key =lambda vector:vector[1])
for i in distance[0:5]:
    print(new_data.iloc[i[0]].title)

The Godfather
The Godfather: Part II
Blood Ties
Joker
Bomb City

In [48]:
def recommend(movies):
    index = new_data[new_data['title'] == movies].index[0]
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda vector: vector[1])
    for i in distance[0:5]:
        print(new_data.iloc[i[0]].title)

In [49]:
recommend("Iron Man")

Iron Man
Iron Man 3
Guardians of the Galaxy Vol. 2
Avengers: Age of Ultron
Star Wars: Episode III - Revenge of the Sith

In [44]:
import pickle

In [45]:
pickle.dump(new_data, open('movies_list.pkl', 'wb'))

In [46]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))

In [47]:
pickle.load(open('movies_list.pkl', 'rb'))

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...